@font-face {
    font-family: "Gym";
    src: url("./Assets/Font/Sansation-Regular.ttf");
}

.NavBar {
    background-color: black;
    display: flex;

}

.NavRight ul {
    margin-left: 1000px;
    margin-top: 50px;
    display: flex;
    list-style: none;
    color: white;
    gap: 60px;
    font-family: "Gym";
}

.NavRight li:hover {
    cursor: pointer;
    color: cadetblue;
}

.NavLeft img {
    margin-top: 50px;
    margin-left: 50px;
}

.HeroSection {
    display: flex;
    background-color: black;
    position: relative;
}

.HeroRight {
    position: absolute;
    left: 930px;
}

.HeroLeft h1 {
    margin-top: 200px;

    margin-left: 50px;
    color: white;
    font-family: "Gym";
    font-size: 42pt;
}

.HeroLeft button {
    margin-top: 50px;
    margin-bottom: 440px;
    margin-left: 50px;
    background-color: yellow;
    width: 140px;
    font-family: "Gym";
    font-size: medium;
    font-weight: 600;
    height: 40px;
    border-radius: 17px;
}

.ContentSec {
    background-color: black;
}

.ContentDetails {
    margin-left: 100px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 2fr 2fr;

}

.Contents {
    color: white;
    font-family: "Gym";
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: flex-start;

}

.ContentHead h1 {
    padding-top: 180px;
    padding-bottom: 50px;
    padding-left: 140px;
    font-size: 52pt;
    font-family: "Gym";
    color: white;
}

.Contents .Logo {
    margin-top: 20px;
}

.Contents .Logo {
    max-width: 60px;
}

.Contents .Heading {
    margin-top: 20px;
    margin-left: -380px;
}

.Contents p {
    margin-left: 80px;
    margin-top: -30px;
}

.Cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    gap: 40px;
    margin-left: 380px;
    max-width: 1200px;
    margin-top: 50px;
    
}

.CardSection {
    padding-top: 80px;
    background-color: black;
    font-family: "Gym";
}

.card {
    background-color: #222222 !important;
    color: white !important;

}
.Cards .Title ,.Cards .Price {
    text-align: center;
    padding-top: 10px;
    font-size: 20pt;
}
.CardDetails p {
    padding-left: 10px;
}
.CardDetails button {
    background: yellow;
    width: 100px;
    border-radius: 10px;
    text-align: center;
    margin-left: 140px;
    margin-top: 50px;
    margin-bottom: 50px;
}
